 nav {
    display: flex;
    padding: 2rem;
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
    justify-content: space-around;
    align-items: center;
}

.mobileCart {
    display: none;
}

.links {
    padding: 2rem;
}

.cartEl {
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 2rem;
    position: fixed;
    top: 2.5rem;
}

.links {
    font-size: 2rem;
    font-weight: 900;
}

h3 {
    font-weight: 900;
    font-size: 3rem;
}

h3:hover, li:hover {
    color: red;
}


li, h3 {
    color:  white;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
}

.burgerIcon {
    display: none;
}

@media (max-width: 750px) {
    .cartEl {
        margin-right: 1rem;
        position: fixed;
        margin-top: 40rem;
        right: 0;
        height: 3.5rem;
    }

    nav {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding-bottom: 0px;
        justify-content: space-between;
    }

    h3 {
        font-size: larger;
    }

    .x:hover, .burgerIcon:hover {
        cursor: pointer;
    }

    .x {
        font-weight: 900;
        font-size: larger;
    }

    .burgerIcon {
        position: absolute;
        right: 5rem;
        top: 2;
        display: inline-block;
        color: white;
    }

    .linksys {
        color: white;
    }

    .links {
        display: none;
    }

    .hamburger {
        padding-top: 1rem;
        
    }
    
}